<div class="form-items">
			<div class="form-header">

				<div class="form-item">
					<p>Названиe:</p>
					<input type="text" name="title">
				</div>

				<div class="form-item">
					<p>Имя поставщика:</p>
					<input type="name" name="name" placeholder="Ф.И.О">
				</div>

				<div class="form-item">
					<p>Категория:</p>
					<select name="category">
						<option value selected>Мясная продукция</option>
						<option value="">Кисломолочная продукция</option>
						<option value="">Овощи и фрукты</option>
					</select>
				</div>

				<div class="form-item" >
					<p>Цена:</p>
					<input type="number" min="500" name="price">
				</div>

				<div class="form-item">
					<p>Описаниe:</p>
					<textarea name="description" cols="45" rows="3"></textarea>
				</div>
				
				<div class="form-item">
					<p>Местоположение:</p>
					<input type="text" name="place">
				</div>

			</div>
			<div class="buttons">
				<input type="reset" value="Очистить" class="del">
				<input type="submit" value="Отправить" class="subm">
			</div>
		</div>